.body-02 {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  letter-spacing: 0.16px;
  margin: 0px;
}

.body-01 {
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  letter-spacing: 0px;
  margin: 0px;
}

h6 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: 0px;
  margin: 0px;
}

h5 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0px;
  margin: 0px;
}

h4 {
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: 0px;
  margin: 0px;
}

h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: 0px;
  margin: 0px;
}

h2 {
  font-size: 42px;
  line-height: 50px;
  font-weight: 300;
  letter-spacing: 0px;
  margin: 0px;
}

h1 {
  font-size: 54px;
  line-height: 64px;
  font-weight: 300;
  letter-spacing: 0px;
  margin: 0px;
}

.h8 {
  font-size: 12px;
  line-height: 14px;
  font-weight: 700;
  letter-spacing: 0px;
  margin: 0px;
}

.h7 {
  font-size: 14px;
  line-height: 18px;
  font-weight: 600;
  letter-spacing: 0px;
  margin: 0px;
}

.h6 {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  letter-spacing: 0px;
  margin: 0px;
}

.h5 {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  letter-spacing: 0px;
  margin: 0px;
}

.h4 {
  font-size: 28px;
  line-height: 36px;
  font-weight: 400;
  letter-spacing: 0px;
  margin: 0px;
}

.h3 {
  font-size: 32px;
  line-height: 40px;
  font-weight: 400;
  letter-spacing: 0px;
  margin: 0px;
}

.h2 {
  font-size: 42px;
  line-height: 50px;
  font-weight: 300;
  letter-spacing: 0px;
  margin: 0px;
}

.h1 {
  font-size: 54px;
  line-height: 64px;
  font-weight: 300;
  letter-spacing: 0px;
  margin: 0px;
}

div {
  box-sizing: border-box;
}

body {
  font-family: "Hahmlet", serif;
  margin: 0px;
  display: flex;
}

.div-line {
  height: 16px;
}

.sidebar {
  height: 100vh;
  width: 240px;
  background-color: #F77911;
  color: #FFFFFF;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: fixed;
  left: -176px;
}
.sidebar .sidebar-btn-group {
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
  height: 32px;
}
.sidebar .sidebar-btn-group:hover {
  text-transform: uppercase;
  transition: 0.5s ease;
}
.sidebar .sidebar-iconarea {
  width: 32px;
  height: 32px;
  position: absolute;
  right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar span {
  position: absolute;
}

.sidebar:hover {
  transform: translateX(176px);
  transition: 0.7s ease;
}
.sidebar:hover .sidebar-iconarea {
  transform: translateX(-176px);
  transition: 0.5s ease-out;
}
.sidebar:hover span {
  transform: translateX(40px);
  transition: 0.3s ease-in;
}

.body {
  width: 100%;
  padding-left: 64px;
}

.header {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 72px;
  padding: 0px 24px;
  background-color: #FFFFFF;
}

.header-searchbar {
  display: flex;
  overflow: hidden;
}
.header-searchbar .search {
  width: 200px;
  height: 40px;
  border-radius: 8px 0px 0px 8px;
  border-width: 2px 0px 2px 2px;
  border-style: solid;
  border-color: #B7B7B7;
  padding: 0px 8px;
  box-sizing: border-box;
}
.header-searchbar button {
  border: none;
  width: 40px;
  height: 40px;
  background: #555555;
  color: #FFFFFF;
  border-radius: 0px 8px 8px 0px;
  transition: 0.3s;
}
.header-searchbar .search:focus {
  width: 360px;
  transition: 0.3s;
}

.header-personal {
  display: flex;
  align-items: center;
  gap: 24px;
  color: #FCB321;
}

.badge-btn {
  border: none;
  background: none;
  height: 40px;
  width: 40px;
  position: relative;
}
.badge-btn span {
  background-color: #E5172F;
  color: #FFFFFF;
  border-radius: 999px;
  padding: 2px 4px;
  position: absolute;
  top: -10%;
  left: 60%;
  z-index: 3;
}
.badge-btn i {
  color: #777777;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.header-hamberger {
  color: #777777;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}

.header-hamberger:hover i {
  transform: rotate(90deg);
  transition: 0.5s;
}

.content {
  background-color: #EFEFEF;
  color: #2A2A2A;
}

.card-01 {
  padding: 48px;
  background-color: #FFFFFF;
  border-radius: 16px;
  border-left: 8px solid #E5172F;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}
.card-01 p {
  color: #777777;
  margin-bottom: 4px;
}
.card-01 h4 {
  color: #111111;
}
.card-01 i {
  color: #E5172F;
}

.card-02 {
  padding: 48px;
  background-color: #FFFFFF;
  border-radius: 16px;
  border-left: 8px solid #6B3CC9;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}
.card-02 p {
  color: #777777;
  margin-bottom: 4px;
}
.card-02 h4 {
  color: #111111;
}
.card-02 i {
  color: #6B3CC9;
}

.card-03 {
  padding: 48px;
  background-color: #FFFFFF;
  border-radius: 16px;
  border-left: 8px solid #14A37B;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}
.card-03 p {
  color: #777777;
  margin-bottom: 4px;
}
.card-03 h4 {
  color: #111111;
}
.card-03 i {
  color: #14A37B;
}

.card-04 {
  padding: 48px;
  background-color: #FFFFFF;
  border-radius: 16px;
  border-left: 8px solid #0279D4;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 32px;
}
.card-04 p {
  color: #777777;
  margin-bottom: 4px;
}
.card-04 h4 {
  color: #111111;
}
.card-04 i {
  color: #0279D4;
}

.container {
  border-radius: 16px;
  overflow: hidden;
}
.container .container-header {
  background-color: #FFF9CC;
  color: #2A2A2A;
  height: 56px;
  padding: 16px;
  display: flex;
  align-items: center;
}
.container .container-content {
  background-color: #FFFFFF;
  padding: 0px 16px;
}

.task {
  margin: 0px;
  list-style: none;
  padding: 0px;
}
.task li {
  height: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #DFDFDF;
}
.task li:last-child {
  border-bottom: none;
}

.task-count {
  background-color: #F77911;
  color: #FFFFFF;
  padding: 2px 8px;
  border-radius: 999px;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 16px 12px;
}

.col-1 {
  width: 8.3333333333%;
  padding: 0px 12px;
  margin: 8px 0px;
}

.col-2 {
  width: 16.6666666667%;
  padding: 0px 12px;
  margin: 8px 0px;
}

.col-3 {
  width: 25%;
  padding: 0px 12px;
  margin: 8px 0px;
}

.col-4 {
  width: 33.3333333333%;
  padding: 0px 12px;
  margin: 8px 0px;
}

.col-5 {
  width: 41.6666666667%;
  padding: 0px 12px;
  margin: 8px 0px;
}

.col-6 {
  width: 50%;
  padding: 0px 12px;
  margin: 8px 0px;
}

.col-7 {
  width: 58.3333333333%;
  padding: 0px 12px;
  margin: 8px 0px;
}

.col-8 {
  width: 66.6666666667%;
  padding: 0px 12px;
  margin: 8px 0px;
}

.col-9 {
  width: 75%;
  padding: 0px 12px;
  margin: 8px 0px;
}

.col-10 {
  width: 83.3333333333%;
  padding: 0px 12px;
  margin: 8px 0px;
}

.col-11 {
  width: 91.6666666667%;
  padding: 0px 12px;
  margin: 8px 0px;
}

.col-12 {
  width: 100%;
  padding: 0px 12px;
  margin: 8px 0px;
}

@media screen and (max-width: 768px) {
  .col-md-1 {
    width: 8.3333333333%;
    padding: 0px 12px;
  }
  .col-md-2 {
    width: 16.6666666667%;
    padding: 0px 12px;
  }
  .col-md-3 {
    width: 25%;
    padding: 0px 12px;
  }
  .col-md-4 {
    width: 33.3333333333%;
    padding: 0px 12px;
  }
  .col-md-5 {
    width: 41.6666666667%;
    padding: 0px 12px;
  }
  .col-md-6 {
    width: 50%;
    padding: 0px 12px;
  }
  .col-md-7 {
    width: 58.3333333333%;
    padding: 0px 12px;
  }
  .col-md-8 {
    width: 66.6666666667%;
    padding: 0px 12px;
  }
  .col-md-9 {
    width: 75%;
    padding: 0px 12px;
  }
  .col-md-10 {
    width: 83.3333333333%;
    padding: 0px 12px;
  }
  .col-md-11 {
    width: 91.6666666667%;
    padding: 0px 12px;
  }
  .col-md-12 {
    width: 100%;
    padding: 0px 12px;
  }
  .header-searchbar {
    display: none;
  }
  .header-personal {
    display: none;
  }
  .header-hamberger {
    display: flex;
  }
}
@media screen and (max-width: 540px) {
  .col-sm-1 {
    width: 8.3333333333%;
    padding: 0px 12px;
  }
  .col-sm-2 {
    width: 16.6666666667%;
    padding: 0px 12px;
  }
  .col-sm-3 {
    width: 25%;
    padding: 0px 12px;
  }
  .col-sm-4 {
    width: 33.3333333333%;
    padding: 0px 12px;
  }
  .col-sm-5 {
    width: 41.6666666667%;
    padding: 0px 12px;
  }
  .col-sm-6 {
    width: 50%;
    padding: 0px 12px;
  }
  .col-sm-7 {
    width: 58.3333333333%;
    padding: 0px 12px;
  }
  .col-sm-8 {
    width: 66.6666666667%;
    padding: 0px 12px;
  }
  .col-sm-9 {
    width: 75%;
    padding: 0px 12px;
  }
  .col-sm-10 {
    width: 83.3333333333%;
    padding: 0px 12px;
  }
  .col-sm-11 {
    width: 91.6666666667%;
    padding: 0px 12px;
  }
  .col-sm-12 {
    width: 100%;
    padding: 0px 12px;
  }
}/*# sourceMappingURL=admin.css.map */